@model IEnumerable<BoozeStore.Models.DrinkViewModel>

@{
    ViewData["Title"] = "Drinks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Drinks</h2>

<p>
    <button class="btn btn-sm btn-outline-secondary">@Html.ActionLink("Create drink", "Create", "Drink")</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DrinkID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlcoholPercentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountStored)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageLink)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DrinkID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlcoholPercentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountStored)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <img class="img-fluid" style="width:auto; height:25vh;" src="@Html.DisplayFor(modelItem => item.ImageLink)" />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Drink", new { ID = item.DrinkID}) 
                @Html.ActionLink("Delete", "Delete", "Drink", new { ID = item.DrinkID})
            </td>
        </tr>
}
    </tbody>
</table>
